html {
  box-sizing: border-box
}
*, *:before, *:after {
  box-sizing: inherit;
}

.appstlye {
  background-image: url(weather.jpg);
  width:50%;
  border: 3px solid black;
  box-shadow: 3px 3px burlywood;
  text-align: center;
  margin: 20px auto;


}

p {
  color: white;
}

button {
  background-color : #0e9e54;
}
